@model simplehouse.Models.CONTACTINFO
<div class="tm-address-box">
    <h4 class="tm-info-title tm-text-success">Our Address</h4>
    <address>
        @Model.ADDRESS
    </address>
    <a href="tel:@Model.PHONE" class="tm-contact-link">
        <i class="fas fa-phone tm-contact-icon"></i>@Model.PHONE
    </a>
    <a href="mailto:@Model.EMAIL" class="tm-contact-link">
        <i class="fas fa-envelope tm-contact-icon"></i>@Model.EMAIL
    </a>
    <div class="tm-contact-social">
        <a href="@Model.FACEBOOK" class="tm-social-link text-center" style="line-height: 40px"><i class="fab fa-facebook tm-social-icon"></i></a>
        <a href="@Model.TWITTER" class="tm-social-link text-center" style="line-height: 40px"><i class="fab fa-twitter tm-social-icon"></i></a>
        <a href="@Model.INSTAGRAM" class="tm-social-link text-center" style="line-height: 40px"><i class="fab fa-instagram tm-social-icon"></i></a>
    </div>
</div>
