@model List<simplehouse.Models.MEMBER>
<div class="tm-container-inner tm-persons">
    <div class="row">
        @foreach (var member in Model)
        {
            <article class="col-lg-6">
                <figure class="tm-person">
                    <img src="~/Content/images/members/@member.IMAGE" alt="@member.NAME" class="img-fluid tm-person-img" />
                    <figcaption class="tm-person-description">
                        <h4 class="tm-person-name">@member.NAME</h4>
                        <p class="tm-person-title">@member.TITLE</p>
                        <p class="tm-person-about">
                            @member.DESCRIPTION
                        </p>
                        <div>
                            <a href="@member.FACEBOOK" class="tm-social-link text-center" style="line-height: 40px"><i class="fab fa-facebook tm-social-icon"></i></a>
                            <a href="@member.TWITTER" class="tm-social-link text-center" style="line-height: 40px"><i class="fab fa-twitter tm-social-icon"></i></a>
                            <a href="@member.INSTAGRAM" class="tm-social-link text-center" style="line-height: 40px"><i class="fab fa-instagram tm-social-icon"></i></a>
                        </div>
                    </figcaption>
                </figure>
            </article>
        }
    </div>
</div>
