@model simplehouse.Models.CHANGEPASSWORD
@{
    ViewBag.Title = "Şifre Değiştir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card content-card">
    <div class="card-header py-3 bg-dark text-light">
        <h5 class="m-0">Şifre Değiştir</h5>
    </div>
    <div class="card-body">
        @if (ViewBag.Error != null)
        {
            <div class="bg-danger text-light p-3 mb-2">
                <span>@ViewBag.Error</span>
            </div>
        }
        @if (ViewBag.Success != null)
        {
            <div class="bg-success text-light p-3 mb-2">
                <span>@ViewBag.Success</span>
            </div>
        }
        <div class="row">
            <div class="col-md-6">
                @using (Html.BeginForm("UpdatePassword", "Admin", FormMethod.Post))
                {
                    <div class="form-group mb-3">
                        <label>Eski Şifre</label>
                        @Html.TextBoxFor(model => model.OLDPASSWORD, new { @class = "form-control", type = "password", placeholder = "Eski Şifre" })
                    </div>
                    <div class="form-group mb-3">
                        <label>Yeni Şifre</label>
                        @Html.TextBoxFor(model => model.NEWPASSWORD, new { @class = "form-control", type = "password", placeholder = "Yeni Şifre" })
                    </div>
                    <div class="form-group mb-3">
                        <label>Yeni Şifre - Tekrar</label>
                        @Html.TextBoxFor(model => model.NEWPASSWORD_REPEAT, new { @class = "form-control", type = "password", placeholder = "Yeni Şifre - Tekrar" })
                    </div>
                    <div class="form-group text-end">
                        <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save me-2"></i>Kaydet</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="card-footer bg-dark text-light">
        <div class="text-end">
        </div>
    </div>
</div>

