@model simplehouse.Models.CONTACTFORM
@{
    ViewBag.Title = "İletişim Formu Sil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card content-card">
    <div class="card-header py-3 bg-dark text-light">
        <h5 class="m-0">Yiyecek Sil</h5>
    </div>
    <div class="card-body">
        @if (ViewBag.Error != null)
        {
            <div class="bg-danger text-light p-3 mb-2">
                <span>@ViewBag.Error</span>
            </div>
        }
        @using (Html.BeginForm("DeleteContactForm", "Admin", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-6">
                    <p><b>Ad Soyad: </b> @Model.NAME</p>
                    <p><b>Email: </b> @Model.EMAIL</p>
                    <p><b>Tarih: </b> @Model.SEND_DATE</p>
                    <p><b>Mesaj: </b> @Model.MESSAGE</p>
                    <div class="form-group bg-danger text-light p-2 my-3">
                        <span>İletişim formu Silinecek. Devam Edilsin Mi?</span>
                    </div>
                    <div class="form-group text-end">
                        @Html.HiddenFor(model => model.ID)
                        <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash me-2"></i>Sil</button>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="card-footer bg-dark text-light">
        <div class="text-end">
            <a class="btn btn-danger btn-sm" href="/admin/iletisim-formlari"><i class="fa fa-times me-2"></i>İptal</a>
        </div>
    </div>
</div>

