@model simplehouse.Models.MEMBER
@{
    ViewBag.Title = "MemberInsert";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card content-card">
    <div class="card-header py-3 bg-dark text-light">
        <h5 class="m-0">Takım Üyesi Düzenle</h5>
    </div>
    <div class="card-body">
        @if (ViewBag.Error != null)
        {
            <div class="bg-danger text-light p-3 mb-2">
                <span>@ViewBag.Error</span>
            </div>
        }
        @using (Html.BeginForm("UpdateMemberForm", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-6">
                    <img src="~/Content/images/members/@Model.IMAGE" class="img-fluid mb-3" />
                    <div class="form-group mb-3">
                        <label>Görsel</label><br />
                        <input type="file" name="IMAGE" accept="image/*" />
                    </div>
                    <div class="form-group mb-3">
                        <label>Durum</label>
                        @Html.DropDownList("STATE_ID", null, htmlAttributes: new { @class = "form-select" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label>Ad Soyad</label>
                        @Html.TextBoxFor(model => model.NAME, new { @class = "form-control", type = "text", placeholder = "Ad Soyad" })
                    </div>
                    <div class="form-group mb-3">
                        <label>Ünvan</label>
                        @Html.TextBoxFor(model => model.TITLE, new { @class = "form-control", type = "text", placeholder = "Ünvan" })
                    </div>
                    <div class="form-group mb-3">
                        <label>Açıklama</label>
                        @Html.TextBoxFor(model => model.DESCRIPTION, new { @class = "form-control", type = "text", placeholder = "Açıklama" })
                    </div>
                    <div class="form-group mb-3">
                        <label>Facebook</label>
                        @Html.TextBoxFor(model => model.FACEBOOK, new { @class = "form-control", type = "text", placeholder = "Facebook" })
                    </div>
                    <div class="form-group mb-3">
                        <label>Twitter</label>
                        @Html.TextBoxFor(model => model.TWITTER, new { @class = "form-control", type = "text", placeholder = "Twitter" })
                    </div>
                    <div class="form-group mb-3">
                        <label>Instagram</label>
                        @Html.TextBoxFor(model => model.INSTAGRAM, new { @class = "form-control", type = "text", placeholder = "Instagram" })
                    </div>
                    <div class="form-group text-end">
                        @Html.HiddenFor(model => model.ID)
                        <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save me-2"></i>Kaydet</button>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="card-footer bg-dark text-light">
        <div class="text-end">
            <a class="btn btn-danger btn-sm" href="/admin/takim-uyeleri"><i class="fa fa-times me-2"></i>İptal</a>
        </div>
    </div>
</div>

